__pycache__/\n*.pyc\n*.pyo\n*.pyd\n# C extensions\n*.so\n# Distribution / packaging\n.Python\nbuild/\ndevelop-eggs/\ndist/\ndownloads/\neggs/\n.eggs/\nlib/\nlib64/\nparts/\nsdist/\nvar/\n*.egg-info/\n.installed.cfg\n*.egg\n# Installer logs\npip-log.txt\npip-delete-this-directory.txt\n# Unit test / coverage reports\nhtmlcov/\n.tox/\n.nox/\n.coverage\n.coverage.*\n.cache\nnosetests.xml\ncoverage.xml\n*.cover\n.hypothesis/\n.pytest_cache/\n# Jupyter Notebook checkpoints\n.ipynb_checkpoints\n# pyenv\n.python-version\n# VS Code settings\n.vscode/\n# Mac and Windows system files\n.DS_Store\nThumbs.db\ndesktop.ini\n# Ignore static analysis and linting cache\n.mypy_cache/\n.pyre/\n.pytype/\n# Ignore environment files\n.env\n.venv\nenv/\nvenv/\nENV/\n# Ignore logs\n*.log\n# Ignore plots and generated images (optional, if not source)\nstatic/plots/*.png
